/*Adding the tailwindcss styles*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*Adding the tailwindcss styles*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Cannot follow through with Tailwind installation:
https://tailwindcss.com/docs/installation
 */

.product-submit{
  text-align:left;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Dark mode settings*/
:root {
  --color-background: white;
  --color-text: black;
}

body[data-theme='dark'] {
  --color-background: black;
  --color-text: white;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
/*End of Dark mode settings*/

/*Format the table*/
.seller-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.seller-table th, .seller-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.seller-table th {
  background-color: #4CAF50;
  color: white;
}

.seller-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*End of format the table
 */




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}
